@import "tailwindcss";

@layer components {
  .navbar-link {
    @apply relative flex items-center justify-center
    h-12 pl-3 pr-3
    text-white font-bold
    hover:bg-gray-900 group-hover/navlink:bg-gray-900
    active:bg-red-800
    transition-colors duration-300 ease-linear
    active:duration-150
    cursor-pointer;
  }

  .navbar-link .current {
    @apply border-b border-solid border-white;
  }

  .navbar-link.focus {
    @apply bg-gray-900;
  }

  .arrow {
    @apply inline-block border-solid border-white border-r-3 border-b-3 ml-3 p-[3px];
  }
}
